# Core functionality - changes here should be rare!
/src/app.py                   @eternise33
/src/backend/database.py      @eternise33
/src/backend/routers/auth.py  @eternise33

# The frontend will need refactored soon to be more object oriented.
/src/static/   @eternise33
